.login{
    
    width: 70px;
    justify-content: center;
    align-items: center;
}
.main {
    border: 1px solid rgba(10, 10, 10, 0.13);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    
    
    

}